.idea
# Logs
logs
*.log
npm-debug.log*

.npm
dist
# Gatsby files
.cache/

test.js

chaincode/node_modules
tests/node_modules
tests/gateway
tests/identity

eer-network/system-genesis-block
eer-network/channel-artifacts
eer-network/*.tar.gz
eer-network/log.txt
eer-network/organizations/ordererOrganizations
eer-network/organizations/peerOrganizations
eer-network/organizations/fabric-ca/*
!eer-network/organizations/fabric-ca/*.yaml

eer-network/.env